/.ignorar/
/PREFERENCIAS/
/LOGS/
/1-Hacker/0-wifi/goyscript/captura/listado-wps.lst
/1-Hacker/0-wifi/goyscript/tmp/restaurar_servicios.log
/1-Hacker/0-wifi/goyscript/wpa/wifis.csv
/1-Hacker/0-wifi/goyscript/wpa/clientes_wpa.csv
